
.rvmrc

Pods/*

OctoPodium.xcworkspace/xcuserdata/nunogoncalves.xcuserdatad/UserInterfaceState.xcuserstate

OctoPodium.xcodeproj/project.xcworkspace/xcuserdata/nunogoncalves.xcuserdatad/UserInterfaceState.xcuserstate

OctoPodium/Supporting Files/GoogleService-Info.plist

build/*
*.xcbkptlist
GithubCredentials.swift
env-vars.sh
