
.rvmrc

Pods/*

OctoPodium.xcworkspace/xcuserdata/nunogoncalves.xcuserdatad/UserInterfaceState.xcuserstate

OctoPodium.xcodeproj/project.xcworkspace/xcuserdata/nunogoncalves.xcuserdatad/UserInterfaceState.xcuserstate
